.button {
  background-color: #43AF50;
  border: outset #37813f;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.text {
  border: inset black 2px;
}